#img {

    display: flex;
    justify-content: center;
    left: auto;
    top: 30%;
}

.img {
    margin-top: 15px;
}

body {
    background-color: #fff;
}

#search {
    width: 500px;
    border-radius: 25px;
    height: 40px;
    padding: 0px 50px;
    font-size: large;
    font-family: Arial, sans-serif;
    border-color: #ffffff;
    border-width: 0.1px;

    background-color: transparent;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 20px;
    outline: none;
}

#search:hover {

    border-radius: 25px;
    outline: none;
    box-shadow: 2px 2px 2px 2px rgb(179, 169, 169);

}

#search:focus {
    outline: none;
}

.main-center {
    margin-top: 150px;
}

#nav_link {
    text-decoration: none;
}

#nav_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.navbar {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0;
    padding-right: 25px;
    padding-top: 5px;

}




.imge {
    width: 35px;
    height: 35px;
    opacity: 100%;
    background-color: #fff;
    display: inline-block;

}

.imge:hover {
    background-color: rgb(228, 213, 213);
    border-radius: 50%;

}

#nav_bar {
    display: inline-block;
}

.imgg {
    display: inline;
    margin-top: 20px;
}

.luck button {
    border-style: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.85;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
}



#luck {
    display: flex;
    justify-content: center;
}

.LL {
    margin-right: 15px;
    cursor: pointer;
}

.LR {
    margin-left: 15px;
    cursor: pointer;
}

.LL:hover {
    box-shadow: 1.5px 1.5px 1.5px 1.5px #fef9ff;
    background-color: #fff;
    border: 0.5px solid #f8f9ff;
}

.LR:hover {
    box-shadow: 1.5px 1.5px 1.5px 1.5px #fef9ff;
    background-color: #fff;
    border: 0.5px solid #f8f9ff;
}

.offer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}