body a {
    font-family: Arial;
    color: black;
    text-decoration: none;
}

.top a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bottom a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.top {
    display: inline-block;
    margin: 15px;
    padding: 10px;
}

.top-left {
    float: left;
    display: flex;
    justify-content: space-between;
}

.top-right {
    float: right;
    margin: 0px 0px 0px 1200px;
    display: flex;
    justify-content: space-around;
}


.bottom {
    display: flex;
    align-items: flex-end;

}

.bottom li {
    list-style: none;
    display: inline;
}

.bottom-left {
    display: flex;
    align-items: flex-start;
    margin: 10px;

}

.bottom-right {
    display: flex;
    justify-content: flex-end;
    margin: 10px 1px 10px 800px;
    float: right;
}

.bottom li a {
    padding: 0 18px;
}

.foot {

    background-color: rgba(180, 175, 175, 0.651);
    margin: 230px 0px 0px 0px;
    display: flex;
    align-self: flex-end;
}

.top li a {
    padding: 0 15px;
}

.top li {
    list-style: none;
    display: inline;
}

.head {
    display: flex;
    align-self: flex-end;
}

.center {
    width: 700px;
    margin: 50px 400px 115px 400px;


    display: inline-block;
    justify-content: center;
    text-align: center;
}

.center input {
    font-size: 20px;
    border-radius: 25px;
    border: 0.5px solid grey;
    margin: 25px;
    padding: 8px 25px;
    width: 550px;
}

.center input:hover {
    box-shadow: 2px 2px 5px 2px grey;
    border-radius: 25px;
    border: 0.5px solid grey;
}

.belowcenter li {
    list-style: none;
    display: inline;
}

#sign {
    background-color: #4285f4;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px 5px 10px 5px;
    padding: 10px;
    border-radius: 4px;
}

.belowcenter a {
    padding: 5px 15px 5px 15px;
    background-color: rgba(209, 209, 209, 0.5);
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
    color: black;
}

#sign:hover {
    text-decoration: none;
    background-color: #3080ff;
}

#dots:hover {
    cursor: pointer;
}

.belowcenter a:hover {
    border: 1px solid rgb(194, 193, 193);
    border-radius: 4px;
}